body {
  background-color: #f6fcff;
  background-image: url('../images/main_bg.jpg');
  background-repeat: no-repeat;
  background-position: top center;
}

/* 정중앙 위치
   화면 너비는 화면 크기
*/
.character{
  width: 100%;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}